<header class="cashier-header">
  <nav>
    <div class="image"><img src="/Group 76.svg" alt="" /></div>
    <h1>BISA NGOPI</h1>
    <ul class="header-ul">
      <li><a href="/officer">New Officer</a></li>
      <li>
        <form action="/logout?_method=DELETE" method="post">
          <button type="submit" class="cta-logout">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
</header>
