<header class="manager-header">
  <nav>
    <div class="logo-container">
      <div class="image"><img src="/Group 76.svg" alt="" /></div>
      <h1>BISA NGOPI</h1>
    </div>
    <ul class="header-ul">
      <li><a href="/menu">Menu List</a></li>
      <li>
        <form action="/logout?_method=DELETE" method="post">
          <button type="submit" class="cta-logout">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
</header>
