<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/edit.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="cashier-header">
      <nav>
        <div class="image"><img src="/Group 76.svg" alt="" /></div>
        <h1>BISA NGOPI</h1>
        <ul class="header-ul">
          <li><a href="/table">tabel order</a></li>
          <li><a href="/food">makanan</a></li>
          <li><a href="/drink">minuman</a></li>
        </ul>
      </nav>
    </header>
    <form method="post">
      <label for="name">name</label>
      <input type="text" value="<%=menu.name%>" name="name" />
      <label for="price">price</label>
      <input type="number" name="price" id="price" value="<%=menu.price%>" />
      <label for="stock">stock</label>
      <input type="number" name="stock" id="stock" value="<%= menu.stock %>" />
      <button type="submit">Ubah</button>
    </form>
  </body>
</html>
