* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  background: transparent;
  color: black;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  transition: background 0.4s linear, color 0.5s linear;
}
a:hover {
  background: rgb(58, 58, 58);
  color: rgb(230, 220, 220);
}
.table-container {
  width: 100%;
  overflow-x: scroll;
}
table {
  width: 1000px;
  margin: 1rem auto;
  border: none;
  border-collapse: separate;
  border-spacing: 0 1rem;
  border: 0;
  border-radius: 10px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}
tbody {
  width: 100%;
}
td {
  border: 2px solid #854802;
  text-align: center;
}
tr {
  width: 100%;
  padding-block: 2rem;
  margin-block: 2rem;
  text-align: center;
  border-radius: 10px;
  color: rgb(11, 23, 26);
  z-index: -1;
  font-size: 1rem;
  font-weight: 700;
}
body {
  background: rgb(255, 225, 187);
  color: rgb(201, 148, 49);
  height: 100vh;
  font-family: sans-serif;
}
header {
  width: 100%;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.logo-container {
  display: flex;
  align-items: center;
}
img {
  padding-inline: 1rem;
}
ul {
  list-style: none;
}
.header-ul {
  display: flex;
  list-style: none;
  text-align: center;
}
li {
  padding-inline: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(88, 53, 0);
  font-weight: bold;
  font-size: 1rem;
}
.submit {
  background: #583500;
  color: #f5c188;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}
.form {
  padding-block: 1rem;
}
